<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campusconnect.cc_reboot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.campusconnect.cc_reboot.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.campusconnect.cc_reboot.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.campusconnect.cc_reboot.CoursePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.campusconnect.cc_reboot.NotePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.campusconnect.cc_reboot.AssignmentPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.campusconnect.cc_reboot.ExamPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>
