<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campusconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Needed to check when the network connection changes -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name="com.campusconnect.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.campusconnect.ConnectionChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8cf76229d4e405b251e3faf3108413ac418be0da" />
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_jgl6YTLmWFUWqekOmqpuomdbwDlaAuaB" />
        <meta-data
            android:name="DATABASE"
            android:value="cc.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.campusconnect.POJO" />
        <!-- [START firebase_service] -->
        <service android:name="com.campusconnect.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name="com.campusconnect.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity
            android:name="com.campusconnect.UploadPicturesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.RegistrationPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.campusconnect.SelectCourseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="campusconnectreboot.app.link"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.campusconnect.CoursePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.NotePageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="noteBookId" />
        </activity>
        <activity
            android:name="com.campusconnect.AssignmentPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="assignmentId" />
        </activity>
        <activity
            android:name="com.campusconnect.ExamPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="examId" />
        </activity>
        <activity
            android:name="com.campusconnect.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.NotesSliderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.ProfilePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.NotificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.SortActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.EditProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.campusconnect.DummyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.RateNoteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.GoogleSignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.AddEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.HomeActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.campusconnect.CreateCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.campusconnect.EditCourseActivity"
            android:label="@string/title_activity_edit_course"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.campusconnect.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.campusconnect.NetworkNotFoundActivity" />
    </application>

</manifest>